.inputForms {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.inputForms__item {
  width: 200px;
  height: 30px;
  border-radius: 5px;
  margin: 5px;
  border: 2px sold grey;
  background-color: white;
}

.getDayBtn {
  width: 400px;
  margin: 0 auto;
  height: 40px;
  background-color: white;
  border-radius: 5px;
  margin: 10px 0;
}
